@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');
@import url('https://npmcdn.com/flickity@2/dist/flickity.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
body {
    margin: 20px 90px;
}
.row {
    display: flex;
}
.header__left {
    display: flex;
   
    align-items: center;
}
.header__link {
    display: block;
    width: 216px;
   
}
.header__logo a img{
    width: 100%;
    padding-top: 11px;
}

.header__slogan {
    /* padding-top: 13px; */
    font-weight: 600;
    color: red;
    /* padding-right: 15px; */
}
.header__slogan p{
    margin-left: 29px;
}
.header__search img {
    vertical-align: middle;
    width: 8.8%;
    margin-left: -34px;
    margin-top: -2px;
}


.header__right {
    /* padding-left: 155px; */
    text-align: -webkit-right;
    margin-left: 341px;

}
.header__flag {
    margin-bottom: 22px;
}
.header__flag img {
    padding-left: 17px;
    width: 12%;}
input#search {
    padding: 5px 30px;
}
/* end header */
.container {
    padding-top: 17px;
}
.banner {
    position: relative;
}
.banner .menu ul {
    display: flex;
    background-color: #cf1c24;
    
}
.menu {
    position: inherit;
}
.menu ul li {
    padding-right: 28px;
    list-style-type: none;
    text-decoration: none;
    border-right-style: solid;
    padding: 10px 12px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;  
    color: white;
}
.mennu ul li:last-child {
    border-right-style: none;
}
.banner__img img{
    width: 100%;
    height: 29rem;
}
li#chi {
    border-right-style: none;
}
.banner__text p {
    position: absolute;
    top: 93%;
    color: white;
    left: 9%;
    /* opacity: 0; */
}
.banner__hover {
    transition: ease-in-out  9s;
}

.banner__text {
    width: 100%;
    height: 50px;
    /* background: rgb(177, 175, 175); */
    opacity: 0;
    margin: -55px 0px;
}
.banner__hover:hover .banner__text {
    opacity: 1;
    top: 88%;
    margin: -53px 0px;
    background-color:rgb(155, 148, 148) ;
}
/* start project */
.project {
    margin-top: 100px;
}
.project__menu{
    display: flex;
}
.project__left h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 350px;
    
}
.project__right {
    margin-left: 193px;
}
.project__right ul li {
    display: contents;
}
.project__right ul li a {
    padding-left: 18px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    text-align: center;
    padding: 9px 11px;
    transition: 0.3s color linear;
    
}
.project__right ul li:hover a{
    color: red;
    border-bottom: 1px solid red;
}
hr {
    margin-top: 20px;
    margin-bottom: 30px;
}
/* start main */
.main {
    display: flex;
    
}
.main__left {
    width: 70%;
    margin-right: 10px;
    /* height: 200px; */
}
.main__right {
    width: 30%;
    margin-left: 10px;
    /* height: 200px; */
}
.new {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 33px;
}
.new .new__left{
    width: 50%;
    /* height: 200px; */
    background: #f7f7f7;
}
.new .new__right{
    width: 50%;
    height: 464px;
    /* margin-left: 5px; */
}
.new__left__img img {
    width: 100%;
    height: 300px;
}
.new__left__text {
    padding: 10px;
    line-height: 2rem;
}
.new__left__img {
    height: 300px;
}
a.new__top_left {
    text-decoration: none;
}
.new__left__text h2 {
    text-decoration: none;
    font-size: 17px;
    color: #062245;
    font-weight: 700;
    margin-bottom: 10px;
}
.new__left__text p {
    font-size: 13px;
    color: #736464;
}
.new__right__img {
    width: 30%;
}
.new__right__img img {
    width: 100%;
    height: 100%;
}
.new__right__list {
    display: flex;
}
.new__right ul li{
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    list-style-type: none;
}
.new__right__list {
    text-decoration: none;
}
.main__left .new__title h1 {
    border-bottom: 1px solid #6B6C6C;
    color: #6B6C6C;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 18px;
} 
.new__right__text {
    width: 70%;
    height: 83px;
}
.new__right__text p {
    font-size: 13px;
    padding: 5px;
    margin-left: 10px;
    color: black;
    width: 100%;
    height: 83px;
    line-height: 25px;
}
.new__right ul li a:hover {
    text-decoration: underline;
}
.new__right ul li:last-of-type {
    text-align: end;
    font-weight: bold;
    font-size: 14px;
    margin-top: 72px;
}
.view__all {
    color: #062245;
}
.new::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97%;
    height: 1px;
    background: #e0e0e0;
}
.main__right {
    margin-top: 10px;
}
.main__right__title h2{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
}

  /* cell number */
  .carousel {
    background: #FAFAFA;
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #333;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  .carousel-cell.is-selected {
    background: #ED2;
  }
  
  /* fade in lazy loaded image */
  /* .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  } */
  /* start infomation */
  .inf {
      margin-top: 50px;
      display: flex;
  }
  .inf__left {
    width: 50%;
    height: 500px;
    margin-top: 20px;
    margin-right: 5px;
  }
  .inf__left__title p {
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 10px 0px;
   }
   .inf__right__title p {
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 10px 0px;
   }
  .inf__right {
      width: 50%;
      height: 500px;
      margin-top: 20px;
      margin-left: 5px;
  }
  .inf__left__list {
      width: 100%;
      height: 500px;
      display: flex;
  }
  .inf__right__list {
    width: 100%;
    height: 500px;
    display: flex;
   }
  .inf__img {
      width: 40%;
  }
  .inf__text {
      width: 60%;
  }
  .inf__img img{
      width: 100%;
  }
  .inf__list{
      display: flex;

  }
  .inf__left__list ul {
    margin-top: 20px;
  }
  .inf__right__list ul {
    margin-top: 20px;
  }
  .inf__left__list ul li {
      list-style-type: none;
      padding: 5px;
  }
  .inf__right__list ul li {
    list-style-type: none;
    padding: 5px;
}
  .inf__text {
      padding-left: 10px;
  }
  .inf__text p{
      font-size: 14px;
      padding-top: 15px;
  }
  .inf__left__list ul li a{
      text-decoration: none;
      color: #466D91;
  }
  .inf__right__list ul li a{
    text-decoration: none;
    color: #466D91;
}
a.inf__list:hover {
    text-decoration: underline;
}

  /* end infomation */
  /* start main right */
  .main__intro__dis img {
      width: 100%;
      height: 200px;
  }
  .main__intro__title h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    background: #cf1c24;
    color: white;
    /* align-items: center; */
    padding-bottom: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main__intro__dis {
    position: relative;
}
.main__intro__dis img{
    position: absolute;
    height: 234px;
}
.main__intro__text {
    position: relative;
    padding-top: 53%;
}
.main__intro__text p{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    background: #0000007a;
    padding: 10px;
    font-weight: 500;
}
.main__intro__dis:hover .main__intro__text p {
    color: red;
}
.main__right__cop h2{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    background: #cf1c24;
    color: white;
    /* align-items: center; */
    padding-bottom: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main__right__cop p {
    font-size: 13px;
    padding: 10px 0px;
}
.main__cop__button button a{
    text-decoration: none;

}
.main__cop__button {
    padding-left: 20%;
}
.main__cop__button button {
    padding: 6px;
    background: #466D91;
    border-radius: 0.5rem;
    color: white;
    text-transform: capitalize;
    border: none;
}
.main__cop__contact p {
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    padding-left: 24px;
}
.contact__phone {
    display: flex;
}
.contact__phone img{
    width: 100%;
}
.contact__phone img {
    width: 30px;
    height: 30px;
}
.contact__phone {
    display: flex;
    align-items: center;
    padding-left: 19%;
}
.contact__phone a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 600;
}
.main__right__video h2{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    background: #cf1c24;
    color: white;
    /* align-items: center; */
    padding-bottom: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* start video */
.main__right__list {
    display: flex;
}
.main__video__left {
    width: 40%;
    padding: 5px;
}
.main__video__right {
    width: 60%;
    padding-left: 36px;
}
.main__video {
    display: flex;
    text-decoration: none;
}
.main__video__left img{
    width: 100%;
}
.main__right__list ul li {
    list-style-type: none;
}
.main__video__right h3 {
    font-size: 15px;
    color: black;
    padding-top: 10px;
    font-weight: 500;
}
.main__video__right p{
    color: black;
    padding: 5px 0px;
}
.main__recruit__list {
    padding-left: 8px;
}
.main__recruit__list ul li::before {
    content:"»";
}


  /* end main right  */
  
/* end main */


