@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
body {
    margin: 20px 90px;
}
.row {
    display: flex;
}
.header__left {
    display: flex;
    width: inherit;
}
.header__logo a img {
    width: 46%;
    padding-top: 11px;
}
.header__logo {
    margin-right: -210px;
}
.header__slogan {
    padding-top: 13px;
    font-weight: 600;
    color: red;
    padding-right: 15px;
}
.header__search img {
    vertical-align: middle;
    width: 6.8%;
    margin-left: -34px;
    margin-top: -2px;
}


.header__right {
    padding-left: 155px;
    text-align: -webkit-right;
}
.header__flag {
    margin-bottom: 22px;
}
.header__flag img {
    padding-left: 17px;
    width: 9%;
}
input#search {
    padding: 5px 30px;
}
/* end header */
.container {
    padding-top: 17px;
}
.banner {
    position: relative;
}
.banner .menu ul {
    display: flex;
    background-color: #cf1c24;
    
}
.menu {
    position: inherit;
}
.menu ul li {
    padding-right: 28px;
    list-style-type: none;
    text-decoration: none;
    border-right-style: solid;
    padding: 10px 12px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;  
    color: white;
}
.mennu ul li:last-child {
    border-right-style: none;
}
.banner__img img{
    width: 100%;
    height: 29rem;
}
li#chi {
    border-right-style: none;
}
.banner__text p {
    position: absolute;
    top: 93%;
    color: white;
    left: 9%;
    /* opacity: 0; */
}
.banner__hover {
    transition: ease-in-out  9s;
}

.banner__text {
    width: 100%;
    height: 50px;
    /* background: rgb(177, 175, 175); */
    opacity: 0;
    margin: -55px 0px;
}
.banner__hover:hover .banner__text {
    opacity: 1;
    top: 88%;
    margin: -53px 0px;
    background-color:rgb(155, 148, 148) ;
}
/* start project */
.project {
    margin-top: 100px;
}
.project__menu{
    display: flex;
}
.project__left h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 350px;
    
}
.project__right {
    margin-left: 193px;
}
.project__right ul li {
    display: contents;
}
.project__right ul li a {
    padding-left: 18px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    text-align: center;
    padding: 9px 11px;
    transition: 0.3s color linear;
    
}
.project__right ul li:hover a{
    color: red;
    border-bottom: 1px solid red;
}
hr {
    margin-top: 20px;
}



